:root {
  --background-color-1: rgb(213, 221, 224);
  --background-color-2: rgb(255, 215, 46);
  --background-color-3: rgb(57, 59, 63);
  --background-color-4: rgb(59, 94, 155);
  --background-color-5: rgb(68, 142, 193);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ts-body {
  overflow-x: hidden !important;
  overflow-y: scroll;
  background-color: var(--background-color-1);
  transition: all 500ms ease-in-out;
}

.ts-active {
  position: relative;
}
.ts-active::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-clip-path: polygon(100% 51%, 0 0, 0 100%);
          clip-path: polygon(100% 51%, 0 0, 0 100%);
  transition: 0.3s ease;
}

.img-box {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.img-box .cittyskylines {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
  opacity: 0.5;
}
.img-box .cittyskylines::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-28%);
  width: 100%;
  height: 30vh;
  background: rgb(236, 238, 232);
  background: linear-gradient(247deg, rgba(236, 238, 232, 0) 86%, rgba(206, 214, 214, 0.5788690476) 94%);
}
.img-box .cittyskylines .skyline-1 {
  width: 120%;
  position: fixed;
  top: 30%;
  left: 0%;
  -webkit-animation: svgMove 4999ms linear infinite;
          animation: svgMove 4999ms linear infinite;
}
@-webkit-keyframes svgMove {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}
@keyframes svgMove {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}
.img-box .cittyskylines .skyline-1 img {
  width: 100%;
}
.img-box .cittyskylines .skyline-2 {
  width: 120%;
  position: fixed;
  top: 30%;
  left: 0%;
  -webkit-animation: svgMove-1 4999ms linear infinite;
          animation: svgMove-1 4999ms linear infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes svgMove-1 {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-8vw);
  }
}
@keyframes svgMove-1 {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-8vw);
  }
}
.img-box .cittyskylines .skyline-2 img {
  width: 150%;
}
.img-box .ts-car {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.img-box .ts-car__img {
  position: relative;
  height: 400px;
  width: 700px;
}
.img-box .ts-car__wheel {
  position: absolute;
  width: 87px;
  bottom: 117px;
  left: 137px;
}
.img-box .ts-car__wheel-2 {
  position: absolute;
  bottom: 119px;
  right: 147px;
  width: 87px;
}
.img-box .ts-car .wheel {
  -webkit-animation: rotating 1s linear infinite;
          animation: rotating 1s linear infinite;
}
@-webkit-keyframes rotating {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.ts-nav {
  width: 10%;
  position: fixed;
  top: 0;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 20px;
  z-index: 10000;
}
.ts-logo {
  font-weight: bold;
  font-size: 3.5vw;
  text-transform: capitalize;
}
.ts-menu {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  font-size: 3.5vw;
  margin: 10px 0;
}
.ts-menu img {
  width: 80px;
  height: 40px;
  transition: 0.3s ease;
  /*    &:hover {
      transform: scale(1.5);
  }*/
}
.ts-menu a {
  text-decoration: none;
}
.ts-bg-red {
  background-color: red;
}
.ts-hero {
  position: relative;
  z-index: 1000;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.ts-hero-title-1 {
  font-weight: bold;
  font-size: 6vw;
  position: absolute;
  letter-spacing: 8px;
  left: 26%;
  top: 20%;
}
.ts-hero-container-1 {
  margin-top: 26vh;
  margin-left: 20%;
  width: clamp(150px, 17vw, 700px);
  height: clamp(300px, 60vh, 1000px);
}
.ts-hero-container-2 {
  margin-top: 45vh;
  margin-right: 10%;
  width: clamp(200px, 30vw, 1000px);
  height: clamp(200px, 40vh, 700px);
}
.ts-hero__sections {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
}
.ts-hero__section-6 {
  display: none;
}
.ts-hero__section-6-text {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgb(216, 11, 172);
  max-width: 450px;
  height: 250px;
  padding: 2em;
}
.ts-hero__section-6-text h1 {
  text-transform: uppercase;
}
.ts-hero__section-6-block {
  position: absolute;
  top: 30%;
  right: 20%;
  background-color: rgb(22, 132, 216);
  width: clamp(100px, 18vw, 800px);
  height: clamp(500px, 60vh, 1000px);
  z-index: 101;
}

.ts-hero__section-1 .ts-text-con {
  position: absolute;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 38%;
  top: 10%;
  margin-inline: auto;
}
.ts-hero__section-1 .ts-text-con h1 {
  margin: 0;
  color: black;
  font-size: 7rem;
  text-align: center;
  font-weight: 700;
}
.ts-hero__section-1 .ts-text-con h2 {
  margin-top: 10px;
  display: block;
  color: black;
  font-size: 5rem;
}

.ts-hero__section-2 {
  padding: 2rem;
}
.ts-hero__section-2-text {
  position: absolute;
  top: 10%;
  left: 10%;
  background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.3));
  max-width: 20vw;
  padding: 2em;
}
.ts-hero__section-2-text h1 {
  font-size: 3rem;
  margin: 10px;
}
.ts-hero__section-2-text h2 {
  margin: 10px;
}
.ts-hero__section-2-text .btn-black {
  margin: 30px 0;
}
.ts-hero__section-2-text .btn-black a {
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
  background-color: black;
  border-radius: 24px;
}

.ts-hero__section-3-text {
  max-width: 35vw;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 2em;
  text-align: right;
}
.ts-hero__section-3-text .title {
  color: var(--background-color-2);
}
.ts-hero__section-3-text .title h1 {
  font-size: 3rem;
  margin: 10px;
}
.ts-hero__section-3-text .title h2 {
  margin: 10px;
}
.ts-hero__section-3-text .btn-yellow {
  margin: 30px 0;
}
.ts-hero__section-3-text .btn-yellow a {
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: var(--background-color-2);
  border-radius: 24px;
}
.ts-hero__section-3-text .context {
  max-width: 17vw;
  float: right;
}
.ts-hero__section-3-text .context p {
  color: aliceblue;
  text-align: left;
}

.ts-hero__section-4 {
  padding: 2rem;
}
.ts-hero__section-4-text {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 20vw;
  padding: 2em;
}
.ts-hero__section-4-text .title {
  color: var(--background-color-2);
}
.ts-hero__section-4-text .title h1 {
  font-size: 3rem;
  margin: 10px;
}
.ts-hero__section-4-text .title h2 {
  margin: 10px;
}
.ts-hero__section-4-text .btn-black {
  margin: 30px 0;
}
.ts-hero__section-4-text .btn-black a {
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: var(--background-color-2);
  border-radius: 24px;
}
.ts-hero__section-4-text .context p {
  color: aliceblue;
}

.ts-hero__section-5-text {
  max-width: 35vw;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 2em;
  text-align: right;
}
.ts-hero__section-5-text .title {
  color: var(--background-color-2);
}
.ts-hero__section-5-text .title h1 {
  font-size: 3rem;
  margin: 10px;
}
.ts-hero__section-5-text .title h2 {
  margin: 10px;
}
.ts-hero__section-5-text .btn-yellow {
  margin: 30px 0;
}
.ts-hero__section-5-text .btn-yellow a {
  padding: 10px 30px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: var(--background-color-2);
  border-radius: 24px;
}
.ts-hero__section-5-text .context {
  max-width: 17vw;
  float: right;
}
.ts-hero__section-5-text .context p {
  color: aliceblue;
  text-align: left;
}

.none {
  display: none;
}

.img-scale {
  transform: scale(1.5);
}/*# sourceMappingURL=index.css.map */